
# Requirements for your project

        
django
djangorestframework
django-cors-headers
django-filter
django-environ
django-allauth
djangorestframework-simplejwt
django-debug-toolbar
django-extensions
Pillow
django-storages
whitenoise
gunicorn
pytest-django
            